if PLAT_MSTAR

menu "MStar MSB25xx PCB Diversity"

choice
	prompt "Board selection"
	default  MS2510DVBT43

config G35
	bool "G35"

config G35MP
	bool "G35MP"

config MS2510ATSC43
	bool "MS2510ATSC43"

config MS2510DVBT43
	bool "MS2510DVBT43"

config MS2516QC7A
	bool "MS2516QC7A"

config MS2516SZ7A
	bool "MS2516SZ7A"

config MS2517QC7D
	bool "MS2517QC7D"

config MSB2510_35
	bool "MSB2510_35"

endchoice
endmenu

config PLAT_MSTAR_SCHED_CLOCK
    def_bool y
    select NEED_MACH_MEMORY_H
    select NEED_MACH_IO_H
    select HAVE_SCHED_CLOCK
    help
      Allow the default sched_clock() to be overloaded at runtime.
      Use this option if you build a kernel for a platform with
      multiplee sched_clock sources, one of which will be selected
      at runtime.

config PLAT_MSTAR_CLCD
    bool

config PLAT_MSTAR_LEDS
    bool

config PLAT_MSTAR_LOCAL_TIMERS
    bool

menu "Mstar platform type"
    depends on ARCH_MSTAR

config ARCH_MSTAR_CA9
    bool "Mstar Cortex-A9 tile"
    select CPU_V7
    select ARM_GIC
    select MIGHT_HAVE_CACHE_L2X0
    select HAVE_PATA_PLATFORM
    select HAVE_ARM_TWD if SMP
    select HAVE_ARM_SCU if SMP

config ARCH_MSTAR_CA7
    bool "Mstar Cortex-A7 tile"
    select CPU_V7
    select ARM_GIC
    select HAVE_PATA_PLATFORM
    select HAVE_ARM_TWD if SMP
    select HAVE_ARM_SCU if SMP
    select MP_CA7_QUAD_CORE_PATCH

config ARCH_MSTAR_CA12
    bool "Mstar Cortex-A12 tile"
    select CPU_V7
    select ARM_GIC
    select HAVE_PATA_PLATFORM
    select HAVE_ARM_TWD if SMP
    select HAVE_ARM_SCU if SMP
endmenu

endif
